In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [3]:
train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [6]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [8]:
old = train_data.loc[train_data.Age > 60]["Survived"]
rate_old = sum(old)/len(old)

print("% of people aged >60 who survived:", rate_old)

% of people aged >60 who survived: 0.22727272727272727

In [9]:
young = train_data.loc[train_data.Age < 20]["Survived"]
rate_young = sum(young)/len(young)

print("% of people aged <20 who survived:", rate_young)

% of people aged <20 who survived: 0.4817073170731707

In [16]:
poor = train_data.loc[train_data.Pclass == 3]["Survived"]
rate_poor = sum(poor)/len(poor)

print("% of people in lowest class who survived:", rate_poor)

% of people in lowest class who survived: 0.24236252545824846

In [17]:
rich = train_data.loc[train_data.Pclass == 1]["Survived"]
rate_rich = sum(rich)/len(rich)

print("% of people in highest class who survived:", rate_rich)

% of people in highest class who survived: 0.6296296296296297

In [19]:
train_data["Age"].mean()

29.69911764705882

In [20]:
#check which columns are missing values
#delete the rows where there are missing (categorical) values ("name" or "pclass", for ex.)
#then fill in missing numerical values for the rest 
#pclass is a categorical value here!
#make a new dataframe with only the necessary columns

In [21]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
#train_data = my_imputer.fit_transform(train_data)

In [18]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!